<footer>
    <div class="container">
        <a href="index.html">
            <img class="footer-logo" src="assets/img/logo-1.svg" alt="logo">
        </a>
        <p class="copyright">
            <img src="assets/img/copyright.svg" alt="">
            2023.Xarab.az
        </p>
        <a href="tel:+994552222222" class="contact-number">
            <img src="assets/img/phone.svg" alt="phone">
            +994552222222
        </a>
    </div>
</footer>