<header>
    <div class="container">
        <a href="index.html">
            <img src="assets/img/logo-2.svg" alt="logo" />
        </a>

        <div class="catalog">
            <img src="assets/img/catalog.svg" alt="">
            Kataloq
        </div>
        <input class="mw-528" type="text" name="search" placeholder="Axtar" />

        <a href="new-item.html" class="place-order">
            <img src="assets/img/plus.svg" alt="">
            Elan yerləşdirin
        </a>

        <a class="auth-action" asp-controller="Registration" asp-action="Index">
            <img class="m-auto" src="assets/img/profile-3.svg" alt="">Qeydiyyat
        </a>
        <a class="auth-action" asp-controller="Login" asp-action="Login">
            <img class="m-auto" src="assets/img/profile-3.svg" alt="">Giriş
        </a>
    </div>
</header>